# Create a symlink for easy access as /dev/sensors/rplidar
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="0251S2Q5", MODE:="0777", SYMLINK+="sensors/dynamixel"