# Create a symlink for easy access as /dev/sensors/dynamixel
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="1a86", ATTRS{serial}=="585A007914", MODE:="0777", SYMLINK+="sensors/dynamixel"